#pr1{
  border: 2px red solid;
  width: 20px;
  margin:0%;
}
#pr2{
  border: 2px red solid;
  width: 20px;
  margin:0%;
}
#pr3{
  border: 2px red solid;
  width: 20px;
  margin:0%;
}
#pr4{
  border: 2px red solid;
  width: 20px;
  margin-right: %;
}